/bin/
/hl2/
/left4dead2_dlc1/
/left4dead2_dlc2/
/left4dead2_dlc3/
/left4dead2_lv/
/platform/
/steamapps/
/update/

dedicatedserver_readme.txt
hlds_steamgames.vdf
l4d2-devkit.sh
left4dead2.dat
left4dead2.exe
left4dead2.ico
srcds.exe
steam_appid.txt

/left4dead2/bin/
/left4dead2/downloads/
/left4dead2/expressions/
/left4dead2/gfx/
/left4dead2/maps/
/left4dead2/materials/
/left4dead2/media/
/left4dead2/missions.cache/
/left4dead2/models/
/left4dead2/reslists/
/left4dead2/resource/
/left4dead2/scenes/
/left4dead2/sound/
left4dead2/pak01_000.vpk
left4dead2/pak01_001.vpk
left4dead2/pak01_002.vpk
left4dead2/pak01_003.vpk
left4dead2/pak01_004.vpk
left4dead2/pak01_005.vpk
left4dead2/pak01_006.vpk
left4dead2/pak01_007.vpk
left4dead2/pak01_008.vpk
left4dead2/pak01_009.vpk
left4dead2/pak01_010.vpk
left4dead2/pak01_011.vpk
left4dead2/pak01_012.vpk
left4dead2/pak01_013.vpk
left4dead2/pak01_014.vpk
left4dead2/pak01_dir.vpk
left4dead2/dxsupport_override.cfg
left4dead2/gameinfo.txt
left4dead2/glbaseshaders.cfg
left4dead2/lights.rad
left4dead2/mapcycle.txt
left4dead2/maplist.txt
left4dead2/missioncycle.txt
left4dead2/modelsounds.cache
left4dead2/program_cache.cfg
left4dead2/scene.cache
left4dead2/shader_cache.cfg
left4dead2/stats.txt
left4dead2/steam.inf
left4dead2/whitelist.cfg
left4dead2/addonlist.txt


left4dead2/scripts/reslistfixes_xbox.xsc
left4dead2/scripts/preload_xbox.xsc
left4dead2/scripts/kb_keys.lst
left4dead2/scripts/kb_act.lst
left4dead2/scripts/gameserverconfig.vdf
left4dead2/scripts/audiorules_xbox.xsc
left4dead2/cfg/360controller.cfg
left4dead2/cfg/addonconfig.cfg
left4dead2/cfg/cpu_level_0_pc.ekv
left4dead2/cfg/cpu_level_0_pc_ss.ekv
left4dead2/cfg/cpu_level_1_pc.ekv
left4dead2/cfg/cpu_level_1_pc_ss.ekv
left4dead2/cfg/cpu_level_2_pc.ekv
left4dead2/cfg/cpu_level_2_pc_ss.ekv
left4dead2/cfg/gpu_level_0_pc.ekv
left4dead2/cfg/gpu_level_1_pc.ekv
left4dead2/cfg/gpu_level_2_pc.ekv
left4dead2/cfg/gpu_level_3_pc.ekv
left4dead2/cfg/gpu_mem_level_0_pc.ekv
left4dead2/cfg/gpu_mem_level_1_pc.ekv
left4dead2/cfg/gpu_mem_level_2_pc.ekv
left4dead2/cfg/joy_preset_1.cfg
left4dead2/cfg/joy_preset_2.cfg
left4dead2/cfg/joy_preset_3.cfg
left4dead2/cfg/joy_preset_4.cfg
left4dead2/cfg/listenserver.cfg
left4dead2/cfg/listenserver360.cfg
left4dead2/cfg/lowend.cfg
left4dead2/cfg/mem_level_0_pc.ekv
left4dead2/cfg/mem_level_1_pc.ekv
left4dead2/cfg/mem_level_2_pc.ekv
left4dead2/cfg/moddefaults.txt
left4dead2/cfg/moddefaults_mac.txt
left4dead2/cfg/modsettings.cfg
left4dead2/cfg/perf.cfg
left4dead2/cfg/screenshots.cfg
left4dead2/cfg/screenshots_undo.cfg
left4dead2/cfg/splitscreen_off.cfg
left4dead2/cfg/splitscreen_on.cfg
left4dead2/cfg/test_end.cfg
left4dead2/cfg/test_start.cfg
left4dead2/cfg/undo360controller.cfg
left4dead2/cfg/user_default.scr
left4dead2/cfg/valve.rc
left4dead2/cfg/config_default.cfg
left4dead2/cfg/settings_default.scr
left4dead2/cfg/skill1.cfg
left4dead2/addons/sourcemod/plugins/oneBtnKillAllSpecials.smx
left4dead2/addons/sourcemod/gamedata/sm-tf2.games.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.pvkii.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.nucleardawn.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.nmrih.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.ff.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.bms.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.csgo.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.contagion.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.pvkii.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.ff.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.bms.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.ep2v.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.csgo.txt
left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.contagion.txt
left4dead2/addons/sourcemod/gamedata/funcommands.games.txt
left4dead2/addons/sourcemod/gamedata/core.games/engine.ep1.txt
left4dead2/addons/sourcemod/gamedata/core.games/common.games.txt
left4dead2/addons/sourcemod/gamedata/core.games/common.games.txt
left4dead2/addons/sourcemod/configs/colorvariables/global.cfg
left4dead2/addons/sourcemod/configs/colorvariables/plugin.advertisements.cfg
left4dead2/addons/sourcemod/configs/missioncycle.coop.txt
left4dead2/addons/sourcemod/configs/missioncycle.scavenge.txt
left4dead2/addons/sourcemod/configs/missioncycle.survival.txt
left4dead2/addons/sourcemod/configs/missioncycle.versus.txt
left4dead2/addons/sourcemod/data/sqlite/clientprefs-sqlite.sq3
*.log
left4dead2/cfg/sourcemod/l4d2_character_manager.cfg
left4dead2/cfg/sourcemod/l4d2_ty_saveweapon.cfg
